In [4]:
def kuchbhi():
    a=10
    b=20
    c=a+b
    print("sum",c)
kuchbhi()

sum 30

In [8]:
name="avinash verma"
city='lucknow'
type(city)

str

In [9]:
a=10
b=20
a=11
b=a+b
print(a)
print(b)

11
31

In [12]:
a=10
b=20
print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a**b)
print(a//b)
print(a%b)

30
-10
0.5
200
100000000000000000000
0
10

In [13]:
x=5
print(x)
x-=10
print(x)

5
-5

In [19]:
print(x > 10)
print(x < 10)
print(x <= 10)
print(x == 10)

False
True
True
False

In [21]:
fruits = ['apple','banana','cherry']
print(fruits)
print('apple'in fruits)

['apple', 'banana', 'cherry']
True